html, body{
    border: 0;
    padding: 0 0 0 0;
    margin: 0;
    height: 100vh;
    max-height: 100vh;

}

.warningText {
    color: red;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    object-position: center;
    z-index: 1000;
}

.canvas {
    background-color: rgb(76,76,76);
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.centeredcanvas {
    margin: 0px auto;
}

.canvas:hover{
    cursor: crosshair;
}